In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\jayad\Documents\VSCode\Venezuela Reservoirs 2026\Reservoir analysis\data\Reservoir_venezuela.csv")

df.head()

,Reservoir_Name,Basin_Region,Location,Proven_Reserves_Billion_Barrels,Estimated_Recoverable_Reserves_Billion_Barrels,Production_Capacity_Barrels_Day,Oil_Type_Grade,Status,Major_Operators,Year_Discovered,Notes
0,Orinoco Belt (Total),Orinoco Belt,Eastern Venezuela (Anzoategui-Monagas-Guarico),235.0,100.00-270.00,400000,Extra Heavy Crude,Active,PDVSA-Rosneft-CNPC,2007,World's largest heavy oil deposit spanning 550...
1,Carabobo-2 North,Orinoco Belt,Carabobo State,6.5,2.5,400000,Extra Heavy Crude,Development,PDVSA-Repsol-ONGC,2010,Part of Carabobo-2 project with 40 billion bar...
2,Carabobo-4 West,Orinoco Belt,Carabobo State,6.5,2.5,400000,Extra Heavy Crude,Development,PDVSA-Repsol-ONGC,2010,Combined with Carabobo-2 North for 400000 bpd ...
3,Junin Block 6,Orinoco Belt,Anzoategui State,8.0,3.2,450000,Extra Heavy Crude,Development,Rosneft-Gazprom Neft-Lukoil,2010,Russian consortium development project
4,Junin Block 4,Orinoco Belt,Anzoategui State,7.0,2.8,400000,Extra Heavy Crude,Development,CNPC-PDVSA,2010,Chinese-Venezuelan joint venture

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Reservoir_Name                                  23 non-null     object
 1   Basin_Region                                    23 non-null     object
 2   Location                                        23 non-null     object
 3   Proven_Reserves_Billion_Barrels                 23 non-null     float64
 4   Estimated_Recoverable_Reserves_Billion_Barrels  23 non-null     object
 5   Production_Capacity_Barrels_Day                 23 non-null     int64
 6   Oil_Type_Grade                                  23 non-null     object
 7   Status                                          23 non-null     object
 8   Major_Operators                                 23 non-null     object
 9   Year_Discovered                                 23 non-null     object
 10  Notes                                           23 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.1+ KB

In [3]:
df.isna().sum()

Reservoir_Name                                    0
Basin_Region                                      0
Location                                          0
Proven_Reserves_Billion_Barrels                   0
Estimated_Recoverable_Reserves_Billion_Barrels    0
Production_Capacity_Barrels_Day                   0
Oil_Type_Grade                                    0
Status                                            0
Major_Operators                                   0
Year_Discovered                                   0
Notes                                             0
dtype: int64

In [4]:
df.columns

Index(['Reservoir_Name', 'Basin_Region', 'Location',
       'Proven_Reserves_Billion_Barrels',
       'Estimated_Recoverable_Reserves_Billion_Barrels',
       'Production_Capacity_Barrels_Day', 'Oil_Type_Grade', 'Status',
       'Major_Operators', 'Year_Discovered', 'Notes'],
      dtype='object')

In [5]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [11]:
import duckdb
from pathlib import Path

BASE_DIR = Path(__file__).resolve().parents[1]

con = duckdb.connect(BASE_DIR / "db" / "reservoir.duckdb")

con.execute(f"""
CREATE OR REPLACE TABLE reservoirs AS
SELECT *
FROM read_csv_auto('{BASE_DIR / "data" / "Reservoir_venezuela.csv"}');
""")

NameError: name '__file__' is not defined

In [12]:
con.execute("SELECT COUNT(*) AS total_rows FROM reservoirs").df()

   total_rows
0          23

In [13]:
con.execute("SELECT * FROM reservoirs LIMIT 5").df()

,Reservoir_Name,Basin_Region,Location,Proven_Reserves_Billion_Barrels,Estimated_Recoverable_Reserves_Billion_Barrels,Production_Capacity_Barrels_Day,Oil_Type_Grade,Status,Major_Operators,Year_Discovered,Notes
0,Orinoco Belt (Total),Orinoco Belt,Eastern Venezuela (Anzoategui-Monagas-Guarico),235.0,100.00-270.00,400000,Extra Heavy Crude,Active,PDVSA-Rosneft-CNPC,2007,World's largest heavy oil deposit spanning 550...
1,Carabobo-2 North,Orinoco Belt,Carabobo State,6.5,2.5,400000,Extra Heavy Crude,Development,PDVSA-Repsol-ONGC,2010,Part of Carabobo-2 project with 40 billion bar...
2,Carabobo-4 West,Orinoco Belt,Carabobo State,6.5,2.5,400000,Extra Heavy Crude,Development,PDVSA-Repsol-ONGC,2010,Combined with Carabobo-2 North for 400000 bpd ...
3,Junin Block 6,Orinoco Belt,Anzoategui State,8.0,3.2,450000,Extra Heavy Crude,Development,Rosneft-Gazprom Neft-Lukoil,2010,Russian consortium development project
4,Junin Block 4,Orinoco Belt,Anzoategui State,7.0,2.8,400000,Extra Heavy Crude,Development,CNPC-PDVSA,2010,Chinese-Venezuelan joint venture

In [14]:
con.execute("DESCRIBE reservoirs").df()

,column_name,column_type,null,key,default,extra
0,Reservoir_Name,VARCHAR,YES,None,None,None
1,Basin_Region,VARCHAR,YES,None,None,None
2,Location,VARCHAR,YES,None,None,None
3,Proven_Reserves_Billion_Barrels,DOUBLE,YES,None,None,None
4,Estimated_Recoverable_Reserves_Billion_Barrels,VARCHAR,YES,None,None,None
5,Production_Capacity_Barrels_Day,BIGINT,YES,None,None,None
6,Oil_Type_Grade,VARCHAR,YES,None,None,None
7,Status,VARCHAR,YES,None,None,None
8,Major_Operators,VARCHAR,YES,None,None,None
9,Year_Discovered,VARCHAR,YES,None,None,None
10,Notes,VARCHAR,YES,None,None,None

### Basic Analysis Queries below:

In [17]:
con.execute("""
SELECT Location, COUNT(*) AS reservoir_count
FROM reservoirs
GROUP BY Location
ORDER BY reservoir_count DESC;
""").df()

                                          Location  reservoir_count
0                                 Anzoategui State                6
1                                    Monagas State                6
2                                      Zulia State                2
3                                   Carabobo State                2
4                                      Apure State                1
5   Eastern Venezuela (Anzoategui-Monagas-Guarico)                1
6                 Western Venezuela (Zulia-Falcon)                1
7                                   Lake Maracaibo                1
8                               Northwestern Coast                1
9                                    Guarico State                1
10                                  Western Plains                1

In [18]:
con.execute("""
SELECT Year_Discovered, COUNT(*) AS fields_discovered
FROM reservoirs
GROUP BY Year_Discovered
ORDER BY Year_Discovered;
""").df()

   Year_Discovered  fields_discovered
0             1914                  1
1            1920s                  1
2             1926                  1
3             1928                  1
4             1946                  1
5            1950s                  2
6            1960s                  2
7            1970s                  5
8            1980s                  2
9            1990s                  1
10            2007                  1
11            2010                  5

In [19]:
con.execute("""
SELECT
    Location,
    SUM(Proven_Reserves_Billion_Barrels) AS total_proven_reserves
FROM reservoirs
GROUP BY Location
ORDER BY total_proven_reserves DESC;
""").df()

                                          Location  total_proven_reserves
0   Eastern Venezuela (Anzoategui-Monagas-Guarico)                  235.0
1                 Western Venezuela (Zulia-Falcon)                   45.0
2                                 Anzoategui State                   40.8
3                                    Monagas State                   27.2
4                                   Carabobo State                   13.0
5                                   Lake Maracaibo                   12.0
6                                   Western Plains                    8.0
7                               Northwestern Coast                    5.0
8                                      Zulia State                    3.3
9                                    Guarico State                    0.8
10                                     Apure State                    0.4

In [20]:
# Renaming columns names using SQL:
con.execute("""
CREATE OR REPLACE TABLE reservoirs_clean AS
SELECT
    Location AS location,
    Year_Discovered AS year_discovered,
    Proven_Reserves_Billion_Barrels AS proven_reserves_bbb,
    Estimated_Recoverable_Reserves_Billion_Barrels AS recoverable_reserves_bbb,
    Production_Capacity_Barrels_Day AS production_capacity_bpd
FROM reservoirs;
""")

In [21]:
con.execute("DESCRIBE reservoirs").df()

,column_name,column_type,null,key,default,extra
0,Reservoir_Name,VARCHAR,YES,None,None,None
1,Basin_Region,VARCHAR,YES,None,None,None
2,Location,VARCHAR,YES,None,None,None
3,Proven_Reserves_Billion_Barrels,DOUBLE,YES,None,None,None
4,Estimated_Recoverable_Reserves_Billion_Barrels,VARCHAR,YES,None,None,None
5,Production_Capacity_Barrels_Day,BIGINT,YES,None,None,None
6,Oil_Type_Grade,VARCHAR,YES,None,None,None
7,Status,VARCHAR,YES,None,None,None
8,Major_Operators,VARCHAR,YES,None,None,None
9,Year_Discovered,VARCHAR,YES,None,None,None
10,Notes,VARCHAR,YES,None,None,None

In [22]:
# When were the reservoirs discovered in Venezuela?
con.execute("""
SELECT
    Year_Discovered,
    COUNT(*) AS reservoirs_discovered
FROM reservoirs
GROUP BY Year_Discovered
ORDER BY Year_Discovered;
""").df()

   Year_Discovered  reservoirs_discovered
0             1914                      1
1            1920s                      1
2             1926                      1
3             1928                      1
4             1946                      1
5            1950s                      2
6            1960s                      2
7            1970s                      5
8            1980s                      2
9            1990s                      1
10            2007                      1
11            2010                      5

In [23]:
#Which location holds the most oil reserves?
con.execute("""
SELECT
    Location,
    SUM(Proven_Reserves_Billion_Barrels) AS total_proven_reserves
FROM reservoirs
GROUP BY Location
ORDER BY total_proven_reserves DESC;
""").df()

                                          Location  total_proven_reserves
0   Eastern Venezuela (Anzoategui-Monagas-Guarico)                  235.0
1                 Western Venezuela (Zulia-Falcon)                   45.0
2                                 Anzoategui State                   40.8
3                                    Monagas State                   27.2
4                                   Carabobo State                   13.0
5                                   Lake Maracaibo                   12.0
6                                   Western Plains                    8.0
7                               Northwestern Coast                    5.0
8                                      Zulia State                    3.3
9                                    Guarico State                    0.8
10                                     Apure State                    0.4

In [28]:
con.execute("""
CREATE OR REPLACE TABLE reservoirs_clean AS
SELECT
    Location AS location,
    Year_Discovered AS year_discovered,

    /* Proven Reserves (already numeric OR text-safe) */
    CAST(Proven_Reserves_Billion_Barrels AS DOUBLE)
        AS proven_reserves_bbb,

    /* Estimated Recoverable Reserves (ranges handled safely) */
    CASE
        WHEN CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR) LIKE '%-%' THEN
            (
                CAST(
                    SPLIT_PART(
                        CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR),
                        '-', 1
                    ) AS DOUBLE
                )
                +
                CAST(
                    SPLIT_PART(
                        CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR),
                        '-', 2
                    ) AS DOUBLE
                )
            ) / 2
        ELSE
            CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS DOUBLE)
    END AS recoverable_reserves_bbb,

    /* Production Capacity */
    CAST(Production_Capacity_Barrels_Day AS BIGINT)
        AS production_capacity_bpd

FROM reservoirs
WHERE
    Proven_Reserves_Billion_Barrels IS NOT NULL
    AND Estimated_Recoverable_Reserves_Billion_Barrels IS NOT NULL;
""")

In [29]:
con.execute("""
SELECT
    Location,
    ROUND(
        SUM(Estimated_Recoverable_Reserves_Billion_Barrels)
        / NULLIF(SUM(Proven_Reserves_Billion_Barrels), 0),
        2
    ) AS recoverability_ratio
FROM reservoirs
GROUP BY Location
ORDER BY recoverability_ratio DESC;
""").df()

BinderException: Binder Error: No function matches the given name and argument types 'sum(VARCHAR)'. You might need to add explicit type casts.
	Candidate functions:
	sum(DECIMAL) -> DECIMAL
	sum(BOOLEAN) -> HUGEINT
	sum(SMALLINT) -> HUGEINT
	sum(INTEGER) -> HUGEINT
	sum(BIGINT) -> HUGEINT
	sum(HUGEINT) -> HUGEINT
	sum(DOUBLE) -> DOUBLE
	sum(BIGNUM) -> BIGNUM


LINE 5:         SUM(Estimated_Recoverable_Reserves_Billion_Barrels)
                ^

In [ ]:
# Are high -reserve fields producing aggresively?
con.execute("""
SELECT
    Location,
    SUM(Production_Capacity_Barrels_Day) AS total_production_bpd,
    SUM(Proven_Reserves_Billion_Barrels) AS proven_reserves
FROM reservoirs
GROUP BY Location
ORDER BY total_production_bpd DESC;
""").df()

,Location,total_production_bpd,proven_reserves
0,Anzoategui State,1645000.0,40.8
1,Carabobo State,800000.0,13.0
2,Monagas State,620000.0,27.2
3,Eastern Venezuela (Anzoategui-Monagas-Guarico),400000.0,235.0
4,Western Venezuela (Zulia-Falcon),300000.0,45.0
5,Lake Maracaibo,150000.0,12.0
6,Western Plains,80000.0,8.0
7,Zulia State,75000.0,3.3
8,Northwestern Coast,60000.0,5.0
9,Guarico State,20000.0,0.8
10,Apure State,15000.0,0.4

In [32]:
# Which reservoirs matter most overall?
con.execute("""
SELECT
    location,
    year_discovered,
    proven_reserves_bbb,
    production_capacity_bpd,
    recoverable_reserves_bbb,
    (
        proven_reserves_bbb * 0.4 +
        recoverable_reserves_bbb * 0.4 +
        production_capacity_bpd / 100000.0 * 0.2
    ) AS strategic_score
FROM reservoirs_clean
ORDER BY strategic_score DESC
LIMIT 10;
""").df()

,location,year_discovered,proven_reserves_bbb,production_capacity_bpd,recoverable_reserves_bbb,strategic_score
0,Eastern Venezuela (Anzoategui-Monagas-Guarico),2007,235.0,400000,185.0,168.80
1,Western Venezuela (Zulia-Falcon),1914,45.0,300000,18.0,25.80
2,Anzoategui State,1970s,15.0,200000,6.0,8.80
3,Monagas State,1980s,15.0,120000,6.0,8.64
4,Lake Maracaibo,1920s,12.0,150000,4.8,7.02
5,Anzoategui State,2010,9.0,500000,3.6,6.04
6,Anzoategui State,2010,8.0,450000,3.2,5.38
7,Anzoategui State,2010,7.0,400000,2.8,4.72
8,Western Plains,1950s,8.0,80000,3.2,4.64
9,Carabobo State,2010,6.5,400000,2.5,4.40

In [33]:
# For Analysis Ready Table:
con.execute("""
CREATE OR REPLACE TABLE reservoirs_clean AS
SELECT
    Location AS location,
    Year_Discovered AS year_discovered,
    Proven_Reserves_Billion_Barrels AS proven_reserves_bbb,
    Estimated_Recoverable_Reserves_Billion_Barrels AS recoverable_reserves_bbb,
    Production_Capacity_Barrels_Day AS production_capacity_bpd
FROM reservoirs
WHERE
    Proven_Reserves_Billion_Barrels IS NOT NULL
    AND Production_Capacity_Barrels_Day IS NOT NULL;
""")

In [34]:
con.execute("""
SELECT
    year_discovered,
    COUNT(*) AS reservoirs_discovered
FROM reservoirs_clean
GROUP BY year_discovered
ORDER BY year_discovered;
""").df()

   year_discovered  reservoirs_discovered
0             1914                      1
1            1920s                      1
2             1926                      1
3             1928                      1
4             1946                      1
5            1950s                      2
6            1960s                      2
7            1970s                      5
8            1980s                      2
9            1990s                      1
10            2007                      1
11            2010                      5

In [35]:
con.execute("""
SELECT
    location,
    SUM(proven_reserves_bbb) AS total_proven_reserves
FROM reservoirs_clean
GROUP BY location
ORDER BY total_proven_reserves DESC;
""").df()

                                          location  total_proven_reserves
0   Eastern Venezuela (Anzoategui-Monagas-Guarico)                  235.0
1                 Western Venezuela (Zulia-Falcon)                   45.0
2                                 Anzoategui State                   40.8
3                                    Monagas State                   27.2
4                                   Carabobo State                   13.0
5                                   Lake Maracaibo                   12.0
6                                   Western Plains                    8.0
7                               Northwestern Coast                    5.0
8                                      Zulia State                    3.3
9                                    Guarico State                    0.8
10                                     Apure State                    0.4

In [36]:
# Production vs Reserves Analysis:
con.execute("""
SELECT
    location,
    SUM(production_capacity_bpd) AS production_bpd,
    SUM(proven_reserves_bbb) AS reserves_bbb
FROM reservoirs_clean
GROUP BY location
ORDER BY production_bpd DESC;
""").df()

,location,production_bpd,reserves_bbb
0,Anzoategui State,1645000.0,40.8
1,Carabobo State,800000.0,13.0
2,Monagas State,620000.0,27.2
3,Eastern Venezuela (Anzoategui-Monagas-Guarico),400000.0,235.0
4,Western Venezuela (Zulia-Falcon),300000.0,45.0
5,Lake Maracaibo,150000.0,12.0
6,Western Plains,80000.0,8.0
7,Zulia State,75000.0,3.3
8,Northwestern Coast,60000.0,5.0
9,Guarico State,20000.0,0.8
10,Apure State,15000.0,0.4

In [39]:
con.execute("""
DROP TABLE IF EXISTS reservoirs_clean;

CREATE TABLE reservoirs_clean AS
SELECT
    Location AS location,

    /* Handle year values like '1970s', '1980s', numeric years */
    CASE
        WHEN CAST(Year_Discovered AS VARCHAR) LIKE '%s' THEN
            CAST(
                SUBSTR(CAST(Year_Discovered AS VARCHAR), 1, 4)
                AS INTEGER
            ) + 5
        ELSE
            CAST(Year_Discovered AS INTEGER)
    END AS year_discovered,

    /* Proven reserves */
    CAST(
        REPLACE(CAST(Proven_Reserves_Billion_Barrels AS VARCHAR), ',', '')
        AS DOUBLE
    ) AS proven_reserves_bbb,

    /* Estimated recoverable reserves (ranges handled) */
    CASE
        WHEN CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR) LIKE '%-%' THEN
            (
                CAST(
                    SPLIT_PART(
                        REPLACE(CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR), ',', ''),
                        '-', 1
                    ) AS DOUBLE
                )
                +
                CAST(
                    SPLIT_PART(
                        REPLACE(CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR), ',', ''),
                        '-', 2
                    ) AS DOUBLE
                )
            ) / 2
        ELSE
            CAST(
                REPLACE(CAST(Estimated_Recoverable_Reserves_Billion_Barrels AS VARCHAR), ',', '')
                AS DOUBLE
            )
    END AS recoverable_reserves_bbb,

    /* Production capacity */
    CAST(
        REPLACE(CAST(Production_Capacity_Barrels_Day AS VARCHAR), ',', '')
        AS BIGINT
    ) AS production_capacity_bpd

FROM reservoirs
WHERE
    Proven_Reserves_Billion_Barrels IS NOT NULL
    AND Estimated_Recoverable_Reserves_Billion_Barrels IS NOT NULL
    AND Production_Capacity_Barrels_Day IS NOT NULL;
""")

In [41]:
con.execute("DESCRIBE reservoirs_clean").df()

                column_name column_type null   key default extra
0                  location     VARCHAR  YES  None    None  None
1           year_discovered     INTEGER  YES  None    None  None
2       proven_reserves_bbb      DOUBLE  YES  None    None  None
3  recoverable_reserves_bbb      DOUBLE  YES  None    None  None
4   production_capacity_bpd      BIGINT  YES  None    None  None

In [40]:
#Strat Reservoir Ranking:
con.execute("""
SELECT
    location,
    year_discovered,
    proven_reserves_bbb,
    recoverable_reserves_bbb,
    production_capacity_bpd,
    (
        proven_reserves_bbb * 0.4 +
        recoverable_reserves_bbb * 0.4 +
        production_capacity_bpd / 100000.0 * 0.2
    ) AS strategic_score
FROM reservoirs_clean
ORDER BY strategic_score DESC
LIMIT 10;
""").df()

,location,year_discovered,proven_reserves_bbb,recoverable_reserves_bbb,production_capacity_bpd,strategic_score
0,Eastern Venezuela (Anzoategui-Monagas-Guarico),2007,235.0,185.0,400000,168.80
1,Western Venezuela (Zulia-Falcon),1914,45.0,18.0,300000,25.80
2,Anzoategui State,1975,15.0,6.0,200000,8.80
3,Monagas State,1985,15.0,6.0,120000,8.64
4,Lake Maracaibo,1925,12.0,4.8,150000,7.02
5,Anzoategui State,2010,9.0,3.6,500000,6.04
6,Anzoategui State,2010,8.0,3.2,450000,5.38
7,Anzoategui State,2010,7.0,2.8,400000,4.72
8,Western Plains,1955,8.0,3.2,80000,4.64
9,Carabobo State,2010,6.5,2.5,400000,4.40

In [42]:
con.execute("""
SELECT
    COUNT(*) AS total_rows,
    COUNT(DISTINCT location) AS unique_locations,
    SUM(CASE WHEN proven_reserves_bbb IS NULL THEN 1 ELSE 0 END) AS missing_proven,
    SUM(CASE WHEN recoverable_reserves_bbb IS NULL THEN 1 ELSE 0 END) AS missing_recoverable
FROM reservoirs_clean;
""").df()

   total_rows  unique_locations  missing_proven  missing_recoverable
0          23                11             0.0                  0.0